@model IEnumerable<OdeToFood.Models.RestaurantReview>

@{
    ViewBag.Title = "Index";
    
}

<h2>The latest reviews</h2>
@foreach (var item in Model)
{
    <div class="review">
        <h4>@item.Name</h4>
        <span>@item.Rating</span>
        <p>@item.City, @item.Country</p>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

