@model IPagedList<RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

<form method="GET" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">
    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")"/>
    <input type="submit" value="Search by name"/>

</form>
@{
    var amount = 10.0m;
    var someDate = new DateTime(2002,7,9);
}
<div>
    @OdeToFood.Views.Home.Resources.Greeting

</div>
<div>
    @amount.ToString("c")
</div>
<div>
    @someDate.ToShortDateString()
</div>
@Html.Partial("_Restaurants",Model)